<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".doubangoultimatelpr.ScanResultActivity"
            android:exported="true" />
        <activity
            android:name=".doubangoultimatelpr.AlprVideoParallelActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

        </activity>
    </application>

</manifest>